h1{
    color:pink;
    text-align: center;
}
h2{
    color: pink;
    text-align: center;
}
img{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display:block;
}
p{
    text-align: center;
    margin-top: 50px;
    margin-bottom:50px;
}

body {
    font-size: 20px;
    padding:0px 0px 0px 300px;
    background-color: #FFF3F5
}

form {
    width: 450px;
    margin: 30px auto;
}

h2 {
    text-align: center;
    margin-top: 60px;
}

div {
    margin: 10px 0;
    display: inline-block;
}

input {
    padding: 15px;
    border: 2px solid lightgray;
}

label {
    display: block;
    line-height: 1.8;
}

.button {
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px;
    background: #fc8dbe;
    color: white;
    border-radius: 4px;
    border: 2px solid #fc8dbe;
}

.button:hover {
    border-color: palevioletred;
    background: palevioletred;
    color: white;
}

nav {
    background-color: #fc8dbe;
    text-align:left;
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:300px;
    bottom:0;
}

.nav-link {
    text-decoration:none;
    color:white;
    display:inline-block;
    padding:20px;
    width:260px;


}
.active{
    background-color:palevioletred;
}
.nav-link:hover{
    background-color:palevioletred;
}
